.panel-cont{
    padding: 10px 15px;
}
.div-col{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    height: 402px;
}
.div-card{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    /* height: 402px; */
    padding: 5px 15px;
}
.col-half{
    display: inline-block;
    width: 45%;
}
nav.crumbs{
    background-color: lightblue;
    color: black;
}
.crumb a{
    text-decoration: none;
    color: black;
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}
.crumb a::after {
    display: inline-block;
    color: #000;
    content: '/';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
.login-button:hover {
    background-color: blueviolet;
  }
#left-sidebar{
    background-color: lightblue !important;
}
hr{
    border-top: 1px solid grey;
}
.btn-xm{
    padding:5px 5px 7px 10px !important;
    text-align: middle !important;
    display: inline-block !important;}
.btnsq{
    margin-right:0px !important;
    margin-left:0px !important;
    padding-right:2px !important;
    padding-left:2px !important;
}
.btn-custom{
    background-color: white;
}
td.btnsq{
    width:20px;
}
.subdiv{
    font-size: 1em;
}
table#themed {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table#themed td, #themed th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
table#themed tr:nth-child(even){background-color: #f2f2f2;}
  
table#themed tr:hover {background-color: #ddd;}
  
table#themed th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

select.custom-select{
    min-width: 15em !important;
    height: 2em !important;
}

iframe.jframe{
    width:  100%;
}
iframe.hframe{
    width: 80%;
    height: 450px !important;
}
img.static{
    width: 80%;
}
.sop{
    border-style:solid; 
    border-width:thin; 
    margin-bottom:10px; 
    padding-left:10px; 
    width: 400px;
}
.sop:hover{
    background-color:gainsboro;
}
.search-right{
    height:35px;
    margin-left:3px;
}
@media (min-width: 1000px){
    #openFile .modal-dialog{
        width:100%; 
        height:100%;
    }
    #myIframe{
        width:1000px; 
        height:100%;
    }
}
/* #main-content{
    padding-top:60px !important;
} */
[id] {
      scroll-margin-top: 60px;
  }

.title{
    font-size: medium;
    color: #000;
}
.swal2-container {
    zoom: 1.5;
}
textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: deepskyblue;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
  }
  .tablink.cetak{
    width: 14%;
  }
  .tablink.elektronik{
    width: 25%;
  }
  .tablink:hover {
    background-color: lightskyblue;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 75px 20px;
    height: 100%;
  }
  
  #buku,#referensi,#ta,#prosiding,#jurnal,#koran,#majalah {background-color: steelblue;}